doctype html
html(lang='en')
  head
    title Little Scrum
    include includes/head.jade
  body
    include includes/nav.jade
    .container
      section#content
        h2 All issues
        .row  
          table.table
            th INC
            th Points
            th Description
            th Assignee
            tbody
              for item in locals.stories
                tr
                  td #{item.req}
                  td #{item.points}
                  td #{item.desc}
                  td #{item.assignee}
      include includes/footer.jade

    include includes/bootstrap_jquery.jade
